<div class="post">
  <div class="heading">
    <% if signed_in? %>
      <h1>Start writing down your notes!</h1>
    <% else %>
      <h1>Sign in and enjoy your own notebook!</h1>
    <% end %>
  </div>
</div>
